::-webkit-input-placeholder {font-size: 120%; text-align: center;}
:-moz-placeholder {font-size: 120%; text-align: center;}
:-ms-input-placeholder {font-size: 120%; text-align: center;}

body {
	background-color: #F0F7FF;
	margin-bottom: 5%;
	font-family: "Josefin Sans";
}

.jumbotron {
	background-color: #F0F7FF;
	padding: 40px 0;
}

.flash:hover{
	background-color: black;
}

a {
	color: #eee;
	font-size: 120%;
	font-family: verdana;
}

a:hover{
	color: 	#3385FF;
	text-decoration: none;
}

.in-call {
	text-align: center;
}


.input-group {
	width: 500px;
}

.flash-div {
	position: relative;
	text-align: center;
	font-size: 120%;
}

.flash-ul{
	text-decoration: none;
}

.flash-li{
	text-decoration: none;
	color: black;
	font-size: 120%;
	font-family: verdana
	background-color: #FFFFA3;
}

.navbar {
	height: 8%;
}

.nav-links {
	margin: 22px 0 30px 12px;
}

.call-button {
	height: 50px;
	width: 65px;
	font-size: 120%;
	font-family: verdana;
}

.phone-input {
	width: 500px;
	height: 50px;
	font-size: 130%;
}

.form-box{
	margin-bottom: 2%;
}

.new-qs-btn {
	margin-top: 5%;
}

.box-name {
	text-align: left;
	display: block;
}

#new-box {
	border-color: #ccc;
	border-radius: 5px;
	width: 100%;
	font-size: 120%;
	padding: 1%;
}

.margin-15 {
	margin: 0 15%;
}

#select-topic{
	width: 575px; 
	display: block; 
	margin: 0 auto 5% auto;"
}

@media (max-width: 768px) {
  .call-button {
  	position: relative;
    width: 90%;
  }

  .input-group {
  	width: 100%;
  }

  .call-form {
  	margin-left: 5%;
  	width: 90%;
  }

  .margin-15 {
  	margin: 10%;
  }

  #select-topic {
  	width: 90%;
  }

}