body {
	background-color: #eee
}

.call-button {
	height: 50px;
	width: 65px;
	font-size: 120%;
	font-family: verdana;
}

.main-form{
	margin-top: 20%;
}

.phone-input {
	height: 50px;
}

::-webkit-input-placeholder {font-size: 120%; text-align: center;}
:-moz-placeholder {font-size: 120%; text-align: center;}
:-ms-input-placeholder {font-size: 120%; text-align: center;}

.form-box{
	margin-bottom: 2%;
}

.new-qs-btn {
	margin-top: 5%;
}

.phone-img {
	width: 1000px;
}

.box-name {
	text-align: left;
	display: block;
}

textarea {
	width: 100%;
}
