<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% if is_current %}
        <form class="Repeat" action="/repeat">
            <input type="hidden" name="call_sid" value={{call_sid}}>
            <input type="hidden" name="question_id" value={{question_id}}>
            <input type="hidden" name="voted" value={{voted}}>
            <input type="submit" value="Repeat">
        </form>
        <form class="Hint" action="/hint">
            <input type="hidden" name="call_sid" value={{call_sid}}>
            <input type="hidden" name="question_id" value={{question_id}}>
            <input type="hidden" name="voted" value={{voted}}>
            <input type="submit" value="Hint">
        </form>
        <form class="Hint" action="/answer">
            <input type="hidden" name="call_sid" value={{call_sid}}>
            <input type="hidden" name="question_id" value={{question_id}}>
            <input type="hidden" name="voted" value={{voted}}>
            <input type="submit" value="Answer">
        </form>
        <form class="hangup" action="/hangup">
            <input type="hidden" name="call_sid" value={{call_sid}}>
            <input type="hidden" name="question_id" value={{question_id}}>
            <input type="submit" value="Hangup">
        </form>
        {% if not voted %}
            <form class="upvote" action="/upvote">
                <input type="hidden" name="call_sid" value={{call_sid}}>
                <input type="hidden" name="question_id" value={{question_id}}>
                <input type="submit" value="Upvote">
            </form>
        {% endif %}
        <form action="/next-question">
            <input type="hidden" name="call_sid" value={{call_sid}}>
            <select name="topic_id">
                <option value=0>Any</option>
                {% for topic in topics %}
                    <option value={{topic.id}}>{{ topic.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Next Question">
        </form>

    {% else %}
    <div class="jumbotron">
        <h1 class="text-center">Get a Phone Interview</h1>
    </div>
    <form class="main-form form-inline text-center" action="/choose_question">
        <select name="topic_id" id="select-topic" class="form-control phone-input">
                <option value="" disabled selected>Select a topic</option>
                <option value=0>Any</option>
                {% for topic in topics %}
                    <option value={{topic.id}}>{{ topic.name }}</option>
                {% endfor %}
            </select>
        <div class="form-group call-form">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-earphone"></span>
                </div>
                <input class="phone-input form-control" size="35" type="tel" name="number" placeholder="Phone Number..." onfocus="this.placeholder = ''">
            </div>
        </div>
        <button type="submit" class="call-button btn btn-primary" value="Call">Call</button>
    </form>
    {% endif %}

{% endblock %}
