<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="text-center">Add A Question</h1>
    </div>

    <div class="">
        <form action="/make" method="post" class="form-inline">

            <div class="row" style="height:75%;">

                <div class="padding-5" style="float: left; width: 50%; height: 100%;">
                    <div class="inline">
                        <div class="">
                            <strong class="text-left">
                                Topic
                            </strong>
                        </div>
                        <div>
                            <select class="form-control" name="topic_id" style="width: 100%;">
                            <option value="" disabled selected>Select your option</option>
                            {% for topic in topics %}
                                <option value={{topic.id}}>
                                    {{ topic.name }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="width-100 inline-block">
                        <div style="margin: 1% 0 0 0;">
                            <strong class="text-left">
                                Language
                            </strong>
                        </div>
                        <div>
                            <select onchange="set_lang();" class="form-control" id="language" name="language" style="width: 100%;">
                            <option value="" disabled selected>Select your option</option>
                            {% for l in languages %}
                                <option>
                                    {{ l }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="" style="width: 100%; height: 50%">
                        <div style="margin: 2% 0 0 0;">
                            <strong class="text-left">
                                Question
                            </strong>
                        </div>
                        <div >
                            <textarea class="form-control" type="text" name="question" rows="5" style="width: 100%; height: 100%;"></textarea>
                        </div>
                    </div>

                    <div style="margin-top: 3%; height: 25%;">
                        <div class="">
                            <strong class="text-left">
                                Hint
                            </strong>
                        </div>
                        <div >
                            <textarea class="form-control" type="text" name="hint" style="width: 100%; height: 100%"></textarea>
                        </div>
                    </div>
                </div>

                <div class="padding-5" style="float: right; width:50%; height: 100%;">
                    <div class="box-name">
                        <strong class="text-left">
                            Answer
                        </strong>
                    </div>
                    <div id="editor-border" class="editor-border">
                        <div id="editor" class="editor text-left"></div>
                    </div>
                </div>
            </div>

            <input type="hidden" name="answer" value="get_code();">
            <div class="row">
                <button class="btn btn-lg btn-primary" type="submit" value="Submit" style="width: 50%; height: 8%; margin: 4% 0 0 25%">Submit</button>
            </div>
        </form>
    </div>

    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/clouds");
        // let the user choose language, and set it

        var set_lang = function() {
            var select = document.getElementById("language");
            var lang = select.options[select.selectedIndex].text;
            console.log(lang)
            editor.getSession().setMode("ace/mode/" + lang);
        }
      

        var get_code = function(){
            var val = editor.getValue();
        }

        window.onresize = editor.resize();
  </script>
{% endblock %}
