<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

    <script>
        var navigator = window.navigator;
        navigator.getUserMedia = (
          navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia
        );

        var Context = window.AudioContext || window.webkitAudioContext;
        var context = new Context();

        var mediaStream;
        var rec;

        function record() {
          // ask for permission and start recording
          navigator.getUserMedia({audio: true}, function(localMediaStream){
            mediaStream = localMediaStream;

            // create a stream source to pass to Recorder.js
            var mediaStreamSource = context.createMediaStreamSource(localMediaStream);

            // create new instance of Recorder.js using the mediaStreamSource
            rec = new Recorder(mediaStreamSource, {
              // pass the path to recorderWorker.js file here
              workerPath: '/bower_components/Recorderjs/recorderWorker.js'
            });

            // start recording
            rec.record();
          }, function(err){
            console.log('Browser not supported');
          });
        }
        
        function stop() {
          // stop the media stream
          mediaStream.stop();

          // stop Recorder.js
          rec.stop();

          // export it to WAV
          rec.exportWAV(function(e){
            rec.clear();
            Recorder.forceDownload(e, "filename.wav");
          });
        }
    </script>

    <button onclick="record()">Record</button>
    <button onclick="stop()">Stop</button>

    <div class="jumbotron">
        <h1 class="text-center">Add A Question</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="margin-15">
                <form action="/make" method="post" class="form-inline text-center">
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Topic
                            </strong>
                        </div>
                        <div style="display: block;">
                            <select id="new-box" class="form-control" name="topic_id">
                            <option value="" disabled selected>Select your option</option>
                            {% for topic in topics %}
                                <option value={{topic.id}}>
                                    {{ topic.name }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Question
                            </strong>
                        </div>
                        <div style="display: block;">
                            <textarea id="new-box" class="form-control" type="text" name="question" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Hint
                            </strong>
                        </div>
                        <div style="display: block;">
                            <textarea id="new-box" class="form-control" type="text" name="hint"></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="box-name">
                            <strong class="text-left">
                                Answer
                            </strong>
                        </div>
                        <div style="display: block;">
                            <textarea id="new-box" class="form-control" type="text" name="answer" rows="5"></textarea>
                        </div>
                    </div>
                    <button class="new-qs-btn btn btn-lg btn-primary" type="submit" value="Submit" style="width: 100%; margin">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
