<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1 class="text-center">Add A Question</h1>
    <div class="container-fluid">
        <div class="row">
            <div style="margin: 0 15%">
                <form action="/make" method="post" name="make_question" class="form-inline text-center">
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Topic
                            </strong>
                        </div>
                        <select class="form-control" name="topic_id">
                        {% for topic in topics %}
                            <option value={{topic.id}}>
                                {{ topic.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Question
                            </strong>
                        </div>
                        <textarea class="new-box form-control" type="text" name="question" rows="5"></textarea>
                    </div>
                    <div class="form-box">
                        <div class="box-name">
                            <strong class="text-left">
                                Hint
                            </strong>
                        </div>
                        <textarea class="new-box form-control" type="text" name="hint"></textarea>
                    </div>
                    <div>
                        <div class="box-name">
                            <strong class="text-left">
                                Answer
                            </strong>
                        </div>
                        <div style="display: block;">
                            <textarea class="new-box" type="text" name="hint" cols="2" rows="10"/>
                        </div>
                    </div>
                    <button class="new-qs-btn btn btn-lg btn-primary" type="submit" value="Submit" style="width: 100%; margin">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
